<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>[+page_title+]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>
    <body>
		<h1>[+page_heading+]</h1>
		<ul>
			<li>
				<a href="index.php?page=home">Home</a>
			</li>
			<li>
				<a href="index.php?page=upload">Upload</a>
			</li>
		</ul>
		[+content+]

    </body>

</html>

